server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://singhkunal30:${GIT_TOKEN}@github.com/singhkunal30/staywise-config-server.git
          clone-on-start: true
          search-paths:
            - "config"
